version: '3.7'
services: 
  jenkins:
    image: jenkins/jenkins:lts
    privileged: true
    user: root
    ports:
      - '8080:8080'
    volumes:
      - '/opt/volumes/jenkins:/var/jenkins_home'
      - '/var/run/docker.sock:/var/run/docker.sock'